div.htw-berlin-dropdown {
  padding: 5px;
  display: inline-block;
}

div.htw-berlin-dropdown a.anker {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  display: block;
}

div.htw-berlin-dropdown a.anker:hover + div.content,
div.htw-berlin-dropdown div.content:hover {
  opacity: 1;
  pointer-events: all;
}

div.htw-berlin-dropdown a.anker:hover {
  color: var(--primary-green);
}

div.htw-berlin-dropdown.orange a.anker:hover {
  color: var(--secondary-orange);
}

div.htw-berlin-dropdown.blue a.anker:hover {
  color: var(--secondary-blue);
}

div.htw-berlin-dropdown.disabled a.anker:hover {
  color: var(--secondary-grey);
  pointer-events: none;
  cursor: not-allowed;
}

div.htw-berlin-dropdown a.anker span.icon {
  display: inline-block;
  width: 13px;
  position: relative;
  top: 3px;
  padding-left: 7px;
}

div.htw-berlin-dropdown div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--dark-grey);
  padding: 10px 10px 10px 15px;
  pointer-events: none;
  opacity: 0;
}

/* top-menu styles */

div.htw-berlin-dropdown.top-menu {
  float: right;
  padding-right: 25px;
  position: relative;
}

div.htw-berlin-dropdown.top-menu div.content {
  position: absolute;
  z-index: 999;
  right: 10px;
}

/* dark */

div.htw-berlin-dropdown.dark {
  color: var(--white);
}

div.htw-berlin-dropdown.dark div.content {
  background-color: var(--background-grey);
}