:host {
  font-family: "HTWBerlin Office", Helvetica, Arial, sans-serif;
  color: var(--copy);
}

.htw-berlin-typography {
  margin: 0;
}

/* don't use blue on dark mode for accessibility reasons: readability */
.dark,
.dark.blue {
  color: var(--white)
}

.green {
  color: var(--primary-green)
}

.orange {
  color: var(--secondary-orange)
}

.blue {
  color: var(--secondary-blue)
}

.grey {
  color: var(--secondary-grey)
}

.bold {
  font-style: normal;
  font-weight: bold;
}

.italic {
  font-style: italic;
  font-weight: normal;
}

.bolditalic {
  font-style: italic;
  font-weight: bold;
}

.normal {
  font-style: normal;
  font-weight: normal;
}