:host {
  display: inline-block;
}

/* generic input styles */

input.htw-berlin-input {
  text-decoration: none;
  font-family: "HTWBerlin Office", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 20px;
  color: var(--copy);
  border: 1px solid var(--secondary-grey);
  padding: 9px 14px;
  margin: 2px 5px 5px 5px;
  transition: border 0.2s ease-in-out,
  background 0.2s ease-in-out,
  color 0.2s ease-in-out;
  display: inline-block;
}

input.htw-berlin-input::placeholder {
  color: var(--dark-grey);
}

input.htw-berlin-input:focus::placeholder {
  color: var(--secondary-grey);
}

label {
  color: var(--copy);
  display: block;
  margin: 5px 5px 0 6px;
}

/* dark generic input styles */

input.htw-berlin-input.dark {
  color: var(--white);
  border-color: var(--white);
  background-color: transparent;
}

input.htw-berlin-input.dark::placeholder {
  color: var(--white);
}

input.htw-berlin-input.dark:focus::placeholder {
  color: var(--white);
}

label.dark {
  color: var(--white);
}

/* active */

input.htw-berlin-input:hover,
input.htw-berlin-input:focus,
input.htw-berlin-input.active {
  border-width: 2px;
}

input.htw-berlin-input.green:hover,
input.htw-berlin-input.green:focus,
input.htw-berlin-input.green.active {
  color: var(--primary-green);
  border-color:  var(--primary-green);
}

input.htw-berlin-input.blue:hover,
input.htw-berlin-input.blue:focus,
input.htw-berlin-input.blue.active {
  color: var(--secondary-blue);
  border-color:  var(--secondary-blue);
}

input.htw-berlin-input.orange:hover,
input.htw-berlin-input.orange:focus,
input.htw-berlin-input.orange.active {
  color: var(--secondary-orange);
  border-color:  var(--secondary-orange);
}

/* disabled */

input.htw-berlin-input.disabled,
input.htw-berlin-input.disabled:hover,
input.htw-berlin-input.disabled:focus,
input.htw-berlin-input.disabled.active {
  cursor: not-allowed;
  color: var(--secondary-grey);
  border-color: var(--background-grey);
  background-color: var(--background-grey);
}

input.htw-berlin-input.disabled.dark,
input.htw-berlin-input.disabled.dark:hover,
input.htw-berlin-input.disabled.dark:focus,
input.htw-berlin-input.disabled.dark.active {
  border-color: var(--secondary-grey);
  background-color: var(--secondary-grey);
}

