
a.htw-berlin-link {
  border-bottom: 4px solid transparent;
  padding: 10px 15px 5px 15px;
  color: var(--copy);
  text-decoration: none;
  font-family: "HTWBerlin Office", Helvetica, Arial, sans-serif;
  transition: border 0.3s ease-in-out;
  display: inline-block;
}

a.htw-berlin-link.dark,
a.htw-berlin-link.dropdown {
  color: var(--white);
}

a.htw-berlin-link:hover {
  border-bottom: 4px solid var(--primary-green);
}

a.htw-berlin-link.orange:hover {
  border-bottom: 4px solid var(--secondary-orange);
}

a.htw-berlin-link.blue:hover {
  border-bottom: 4px solid var(--secondary-blue);
}

a.htw-berlin-link.disabled:hover {
  border-bottom: 4px solid var(--secondary-grey);
}


/* side-menu styles */

a.htw-berlin-link.side-menu {
  display: block;
  padding: 10px 5px 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

/* dropdown styles */

a.htw-berlin-link.dropdown {
  display: inline-block;
  margin-top: 10px;
  padding: 0 3px 3px 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

a.htw-berlin-link.dropdown.dark {
  color: var(--copy);
}

/* breadcrumb styles */

a.htw-berlin-link.breadcrumb {
  padding: 0 8px 0 0;
  border: none;
  transition: color 0.2s ease-in-out;
}

a.htw-berlin-link.breadcrumb span.icon {
  padding-left: 8px;
}

a.htw-berlin-link.breadcrumb span.icon svg {
  height: 15px;
  position: relative;
  top: 2px;
}

a.htw-berlin-link.breadcrumb.visited,
a.htw-berlin-link.disabled.breadcrumb:hover 
{
  color: var(--secondary-grey);
}

a.htw-berlin-link.breadcrumb.active {
  font-weight: bold;
}

a.htw-berlin-link.breadcrumb:hover {
  color: var(--primary-green);
  border: none;
}

a.htw-berlin-link.orange.breadcrumb:hover {
  color: var(--secondary-orange);
}

a.htw-berlin-link.blue.breadcrumb:hover {
  color: var(--secondary-blue);
}

