:host {
  display: inline-block;
}

.htw-berlin-logo.orange path {
  fill: var(--secondary-orange);
}

.htw-berlin-logo.blue path {
  fill: var(--secondary-blue);
}

.htw-berlin-logo.dark path {
  fill: var(--white);
}

.htw-berlin-logo.s svg {
  width: 49px;
  height: 15px;
}

.htw-berlin-logo.m svg {
  width: 98px;
  height: 30px;
}

.htw-berlin-logo.l svg {
  width: 147px;
  height: 45px;
}