:host {
  display: inline-block;
}

.htw-berlin-logo.orange path {
  fill: var(--secondary-orange);
}

.htw-berlin-logo.blue path {
  fill: var(--secondary-blue);
}

.htw-berlin-logo.dark path {
  fill: var(--white);
}